/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
       .location-time-flex{
        display: flex;
        margin-top: 20px;
       }
    .icons{
        font-size: 3em!important;
    }
    .location{
        margin-top: 8px;
        margin-left: 20px;
        font-size: 2em;

    }
    .time{
        font-size: 2em;
        margin-top: 10px;
        margin-left: 20px;
    }
 

