/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.haws-fest{
	.tileOne{
		border-bottom: 10px solid red;
	}
	.tileTwo{
		border-bottom: 10px solid red;
	}
	.tileThree{
		border-bottom: 10px solid red;
	}
	.tileFour{
		border-bottom: 10px solid red;
	}
}