/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .wp-block-rs-blockfolder-haws-fest {
	width: 100%;
	.tile{
		width: 100%;
	}
	.tileTitle{
		width: 300px;
	}
	i{
		font-size: 15em;
		padding-left: 40px;
		padding-right: 40px;
	}
	i:hover{
		color: red;
	}
	#tileThreeModal{
		width: 100%;
	}
	#whoToBring{
		margin-top: 10px;
	}
	#whereIsIt{
		margin-top: 10px;
	}
	.hawsButton{
		background-color: #88cd00;
		color: white;
		border-radius: 12px;
		padding: 10px;
		text-decoration: none;
	}
	#buttonContainer{
		text-align: center;
		padding-top: 10px;

	}
	.prizePadding{
		padding-top: 10px;
	}
	.prizeSep{
		border-bottom: 2px solid black;
		padding-bottom: 7px;
	}
 }