/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .wp-block-rs-blockfolder-haws-fest {
	width: 100%;
	.tile{
		width: 100%;
	}
	.tileTitle{
		width: 300px;
	}
	i{
		font-size: 15em;
		padding-left: 12px;
		padding-right: 12px;
	}
	i:hover{
		color: red;
	}
 }